# Binaries
######################
*.class
 
# Eclipse
######################
.project
.settings
.classpath
 
# Maven
######################
target
bin

# Android
######################
gen
 
# Temporary files
######################
*.swp
*.log
log
bin
